.wrapper {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--fabric-background-secondary);

    padding: 10px;


}

.empty {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: var(--fabric-color-quaternary);


}

.filesWrapper {

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;

    padding: 8px;
    gap: 8px;

    background: var(--fabric-background-secondary);
    min-height: 100%;
    position: relative;

    display: flex;
    flex-flow: row wrap;

    align-items: flex-start;
    align-content: flex-start;
}

.filesWrapperList {
    padding: 4px;



    height: fit-content;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100% - 35px);
    display: flex;
    flex-flow: column;
    background: var(--fabric-background-secondary);

}

.types {
    padding: 4px 4px 4px 42px;

    display: flex;
    background-color: var(--fabric-background-secondary);

    border-bottom: var(--fabric-border-primary) 1px solid;

    position: sticky;
    top: 0;
    z-index: 100;

}

.type {
    width: 100%;
    color: var(--fabric-color-secondary);
    font-weight: 550;
    font-size: .8rem;
}