
.header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;

    font-size: .9rem;
    font-weight: bold;
}

.button {
    padding: 4px 8px !important;;

    height: 100%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;

    font-size: .7rem !important;
    font-weight: 550;
    color: var(--fabric-color-tertiary);

}


.settingsButton {
    height: 25px;
    min-width: 25px;
    padding: 0 2px !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsButton > * {
    font-size: 1.1rem !important;
}

.pathWrapper{

    max-width: 100%;
    overflow-x: auto;
    display: flex;
    width: fit-content;
}

.overflow{
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divider{
    width: 2px;
    height: 25px;
    min-width: 2px;
    background: var(--fabric-border-primary);
    margin: 0 8px;

}