.wrapper{
    width: 100%;
    height: 100%;
    background-color: var(--fabric-background-primary);

    display: grid;


    gap: 4px;

    height: 100%;
    ;
    overflow-y: auto;

}


.folder{
    height: fit-content;
    display: grid;
}

.overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

