
.content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper {
    background-color: var(--fabric-background-primary);

    width: 100%;
    height: clamp(250px, 45%, 500px);
    border-radius: 5px;
    display: flex;


    align-items: flex-start;

    overflow: hidden;
}


.contentWrapper {
    top: 0;
    position: sticky;
    z-index: 10;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 4px;

    max-height: 35px;
    min-height: 35px;


    font-size: .8rem;
    font-weight: 600;
    color: var(--fabric-color-tertiary);

    box-sizing: border-box !important;
    border-bottom: var(--fabric-border-primary) 1px solid;

    overflow: hidden;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.button {
    padding: 4px 8px !important;;

    height: 100%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;

    font-size: .7rem !important;
    font-weight: 550;
    color: var(--fabric-color-tertiary);

}