.wrapper {
    display: flex;
    align-items: center;


    background-color: var(--fabric-background-primary);
    width: 100%;
    height: 35px;
    border-radius: 5px;

    color: var(--fabric-color-tertiary);
    border: var(--fabric-border-primary) 1px solid;


    outline: transparent 2px solid;
    cursor: pointer;
    transition: 150ms linear;

}

.wrapper:hover {
    border-color: var(--fabric-accent-color);
}

.wrapper:active, .wrapper[data-focused = "true"] {
    outline: var(--fabric-accent-color) 2px solid !important;
}

.imageWrapper {
    width: 33px;
    height: 33px;

}
.imageWrapper > * {

}

.icon {

    width: 35px;
    height: 35px;
}

.labels {
    display: flex;
    gap: 4px;
    width: 100%;
    padding: 0 4px;
}

.label {
    text-transform: capitalize;
    width: 100%;
    color: var(--fabric-color-secondary);
    font-size: .75rem;


}




.input {
    color: var(--fabric-color-secondary);
    outline: none;
    background-color: var(--fabric-background-tertiary);
    border-radius: 5px;
    border: var(--fabric-border-primary) 1px solid;
    padding: 4px 2px;
    max-width: 100%;
}

.input:focus {
    border-color: var(--fabric-accent-color);
}